* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.dropdown {
    position: relative;

    // DROPDOWN TRIGGER -----------------------------------
    &-trigger {
        // BOX
        background: #666;
        padding: .5em 1em;
        border: none;
        border-radius: 5px;

        // TEXT
        color: #fff;

        &:hover {
            background: #444;
        }

        &::after {
            content: '▼';
            display: inline-block;
            margin-left: .5em;
        }
    }

    // DROPDOWN CONTENT -----------------------------------
    &-content {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        background: #fff;
        border: #ddd 1px solid;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 2em;
        min-width: 200px;

        &.visible {
            display: inline-block;
        }

        a {
            display: block;
            padding: .5em;
            text-decoration: none;
            color: #444;

            &:hover {
                background: #eee;
            }
        }

    }

}

